/Taller 2 Generacion De Diagramas/Solucion codigo/Problema-1_Trabajador/nbproject/private/
/Taller 2 Generacion De Diagramas/Solucion codigo/Problema-1_Trabajador/build/
/Taller 2 Generacion De Diagramas/Problema 1/Solucion codigo/Problema-1_Trabajador/build/
/Taller 2 Generacion De Diagramas/Problema 1/Solucion codigo/Problema-1_Trabajador/nbproject/private/
/Taller 2 Generacion De Diagramas/Problema 2/Solucion Codigo/InstitucionDeportiva/nbproject/private/
/Taller 2 Generacion De Diagramas/Problema 2/Solucion Codigo/InstitucionDeportiva/build/
/Taller 2 Generacion De Diagramas/Problema 3/Solucion Codigo/EquipoCelulares/nbproject/private/
/Taller 2 Generacion De Diagramas/Problema 3/Solucion Codigo/EquipoCelulares/build/
/Taller 2 Generacion De Diagramas/Problema 4/Solucion Codigo/Escenarios/nbproject/private/
/Taller 2 Generacion De Diagramas/Problema 4/Solucion Codigo/Escenarios/build/
/Taller 2 Generacion De Diagramas/Problema 5/Libro/nbproject/private/
/Taller 2 Generacion De Diagramas/Problema 5/Libro/build/
/Taller 2 Generacion De Diagramas/Problema 6/Pedido/nbproject/private/
/Taller 2 Generacion De Diagramas/Problema 6/Pedido/build/
/Taller 2 Generacion De Diagramas/Problema 7/Emprendimientos/nbproject/private/
/Taller 2 Generacion De Diagramas/Problema 7/Emprendimientos/build/
